<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @visit_note.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @visit_note.body %>
</p>

<%= link_to 'Edit', edit_patient_visit_note_path(@visit_note) %> |
<%= link_to 'Back', visit_notes_path %>
